{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "endOfLine": "crlf",
  "printWidth": 120,
  "bracketSpacing": true,
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ]
}
