.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: .4rem;
  background: var( --type-first );
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  background: var( --type-third );
}

.item span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
